body {
  background-color: #c8d7be;
  font-family: "Courier New", Courier, monospace;
}

.leaflet-container {
  height: calc(100vh - 110px);
  width: 800px;
}

.navigation-bar {
  background-color: #c8d7be;
  height: 40px;
}

.search-bar {
  background-color: rgb(247, 247, 247);
}

[class*="-MuiInputBase-root-MuiOutlinedInput-root"] {
  height: 50px;
}

.search-container {
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
